%a{:name => "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Twitter Topic Finder
          %h3 Get Information on 3 Awesome Topics!
          %hr.intro-divider
          .col-xs-6.col-md-4.twit-link
            = link_to 'Healthcare', topic_path(:healthcare)
          .col-xs-6.col-md-4.twit-link
            = link_to 'NASA', topic_path(:nasa)
          .col-xs-6.col-md-4.twit-link
            = link_to 'Open Source', topic_path(:opensource)