%a{:name => "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Twitter Topic Finder
          %h3 Get Information on 3 Awesome Topics!
          %hr.intro-divider
          .col-xs-6.col-md-4.twit-link
            = link_to 'Healthcare', '#'
          .col-xs-6.col-md-4.twit-link
            = link_to 'NASA', '#'
          .col-xs-6.col-md-4.twit-link
            = link_to 'Open Source', '#'
%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            %a{:href => "#"} Home
        %p.copyright.text-muted.small Copyright © Josh Hubbard 2016. All Rights Reserved
