# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: Josh Hubbard
  admin_email: admin@nurelmtwitter.com
  admin_password: admintwitter
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: example.com
  secret_key_base: ee0354d497e4dd2aa34bc7b5f05e8b183e92d114c0c4067f1bb8ab04a38bff652378c1e45f75414892ad9c91fada86533218c5b6bb39d5cdd6b44ad8d09427da

test:
  domain_name: example.com 
  secret_key_base: fc5c729225fb68862815075517658487b16bfaf03aef677cda1b59010afa32b0e1a29ebc42aa672104bdb9bb2286bfbf91c1d4017b54c41686943f01287e5ff9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %> 
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
